.list {
    max-height: 187px;
}

.marker {
    background-color: rgb(119, 114, 114);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.list li:first-child {
    list-style: none;
}

.link:hover{
    color: rgba(237, 200, 17, 1)!important;
}